{% extends 'base.html' %}

{% block  content %}
    <body>
        <main>
            <div class="play-friend">
                <section class="result"></section>
            {% if winner != None %}
                <p>And the winner is {{ winner }}!!!</p>
            {% else %}
                <p>It was a draw!</p>
            {% endif %}

            Insert computer choice here

            <form action="/play">
                <button type="submit">Play the computer?</button>
            </form>
            </div>
        </main>
    </body>
{% endblock  %}
   
